@font-face {
    font-family: "belligerent";
    src: url("./font/fonts/belligerent.eot");
    src: url('./font/fonts/belligerent.eot') format('embedded-opentype'),
         url('./font/fonts/belligerent.woff2') format('woff2'),
         url('./font/fonts/belligerent.woff') format('woff'),
         url('./font/fonts/belligerent.ttf') format('truetype'),
         url('./font/fonts/belligerent.svg#belligerent') format('svg');
  }
  .logofont {
    font-family: "belligerent";
  }
  