<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orinoco site de vente en ligne</title>
    <link rel="stylesheet" href="tailwind.css">
    <script src="https://kit.fontawesome.com/3821baace1.js" crossorigin="anonymous"></script>


</head>

<body>
    <nav class="flex justify-between text-6xl mt-8">
        <div class="logo flex ml-8">
            <div id="companylogo" class="cartlogo"><i class="fas fa-shopping-cart iconegradient"></i></div>
            <div class="logoname font-extrabold ml-8"><span class="logofont">Orinoco</span></div>
        </div>
        <div class="cart_icon mr-8">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <div class="relative"><i class="fas fa-shopping-cart"></i>
                    <p
                        class="w-10 h-10 bg-red-100 absolute bottom-0 left-2/3 text-center text-2xl font-extrabold rounded-full">
                        0</p>
                </div>
            </a>
        </div>
    </nav>
    <h1 class="text-6xl text-center">Site de vente en ligne</h1>
    <main class="">

        <div class="productcard">
            <div class="flex "><img src="../img/teddy_1.jpg" alt="Photo d'un ours" class="w-2/5">
            <div class=" flex items-center justify text-6xl m-auto" ><h2 class="product--title items-center">
                Article 1
            </h2>
        </div>
        </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti facilis dolor temporibus perspiciatis,
                voluptas rem culpa repudiandae tenetur distinctio corporis inventore atque exercitationem hic laboriosam
                dignissimos itaque libero autem asperiores!
            </p>
            <form action="post" class="flex justify-between mx-8 my-8">
                <div><input type="radio" name="color" id="blue">
                    <label for="blue"> blue</label>
                </div>
                <div><input type="radio" name="color" id="red">
                    <label for="red"> red</label>
                </div>
                <div><input type="radio" name="color" id="yellow">
                    <label for="yellow"> yellow</label>
                </div>
                <input type="text" name="qty" id="qty" placeholder="ENtrer la qté">
                <input type="submit" value="Ajouter au panier">

            </form>
        </div>

    </main>


</body>

</html>