<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="tailwind.css">
    <script src="https://kit.fontawesome.com/3821baace1.js" crossorigin="anonymous"></script>



</head>

<body>
    <nav class="flex w-full justify-between text-6xl pt-8 py-8 bg-yellow-100">
        <a href="./index.html">
            <div class="logo flex ml-8">
                <div id="companylogo" class="cartlogo"><i class="fas fa-shopping-cart iconegradient"></i></div>
                <div class="logoname font-extrabold ml-8 hidden md:inline-flex"><span class="logofont">Orinoco</span>
                </div>
            </div>
        </a>
        <div class="cart_icon mr-8">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <div class="relative"><i class="fas fa-shopping-cart"></i>
                    <p class="w-10 h-10 absolute bottom-0 left-2/3 text-center text-2xl font-extrabold rounded-full">
                        0</p>
                </div>
            </a>
        </div>
    </nav>
    <h1 class=" text-2xl md:text-6xl text-center">Votre Panier :</h1>
    <main class="">
        <div class="panier" id="panier"></div>


        <div class="formulaire hidden pt-8 ">
            <div class="mb-4">Pour valider votre commande, merci de saisir les informations ci-dessous </div>
            <form method="POST" action="" id="formulaire" class="flex flex-row flex-wrap justify-around">
                <div class="w-1/3 p-2 border-gray-200 border-2 rounded-md ">
                    <label for="firstName">Prénom : </label>
                    <input type="text" name="firstName" id="firstname" class="w-5/6" /><br>
                    <span class="hidden" id="firstNamespan">Saisie invalide</span>
                </div>
                <div class="w-1/3 p-2 border-gray-200 border-2 rounded-md">
                    <label for="lastName">Nom : </label>
                    <input type="text" name="lastName" id="lastname" class="w-5/6" /><br>
                    <span class="hidden" id="lastNamespan">Saisie invalide</span>
                </div>

                <div class="w-full p-2 border-gray-200 border-2 rounded-md m-4">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="email" class="w-2/3" /><br>
                    <span class="hidden" id="emailspan">Saisie invalide</span>
                </div>
                <div class="w-1/3 p-2 border-gray-200 border-2 rounded-md">
                    <label for="address">Adresse : </label>
                    <input type="text" name="address" id="adress" class="w-5/6" /><br>
                    <span class="hidden" id="addressspan">Saisie invalide</span>
                </div>
                <div class="w-1/3 p-2 border-gray-200 border-2 rounded-md">
                    <label for="city">Ville : </label>
                    <input type="text" name="city" id="city" class="w-5/6" /><br>
                    <span class="hidden" id="cityspan">Saisie invalide</span>
                </div>
                <div class="p-6 w-full flex justify-center">

                    <input type="submit" value="Valider votre commande" id="submitbutton" name='submit'
                        class="px-4 py-2 bg-green-600 border-2 border-black rounded-lg mx-auto">
                </div>
            </form>

        </div>
    </main>


</body>

</html>